.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    }

.filters button {
    background-color: #FF5A5F;
    color: white;;
    height: 48px;
    width: 20%;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.filters .location, .amenities {
    width: 25%;
    color: black;
    text-align: left;
    float: left;
    position: relative;

}

.filters .location {
    border-right: 1px solid #DDDDDD;
    padding-left: 20px;;
}

.filters .amenities {
    margin-left: 10px;
}

.filters h3 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.popover {
    visibility: hidden;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    margin-top: 0px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover h2 {
    font-size: 16px;
    margin: 0 0 10px;
}

.popover li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    color: black;
}

.location:hover .popover, .amenities:hover .popover{
    visibility: visible;
    cursor: pointer;
}

.popover li:hover {
    background-color: #DDDDDD;
}
